{
  "presets": [["@babel/preset-env", {
    "targets": {
      "chrome": '78' // webpack打包的时候会判断Chrome浏览器67以上的版本是否兼容ES6，如果兼容它打包的时候就不会做ES6转ES5,如果不兼容就会对ES6转ES5操作
    },
    "useBuiltIns": 'usage', // 根据业务代码决定补充什么内容
    "corejs": 3
  }]] // ES6语法被翻译成ES5
}
